**/.DS_Store
__pycache__/

# Test & analysis
tests/VERSION
analysis/output
analysis/catalogue.tar

# Build: noe_transformer.py outputs
noether/catalogue/**/*_.py

# Packaging
token-*.txt
build/
dist/
noether.egg-info
