# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Development

test.bat
todo.txt
dev-info.py
venv/
pypi_tokens.txt
*.code-workspace
catalogue_count.*

# Build

build/
dist/
noether.egg-info

**/.DS_Store
