**/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Development

test.bat
todo.txt
dev-info.py
venv/
pypi_tokens.txt
*.code-workspace
tests/VERSION

# Analysis
analysis/output

# Build

build/
dist/
noether.egg-info
